<div class="container">

    <h3 class="header">Login Form</h3>

    <form [formGroup]="loginForm" class="form" (ngSubmit)="onLogin(loginForm.value)">
        <label>
        <div class="form-group">
            Enter Registered User Name:
            <input class="form-control" type="text" placeholder="userName" formControlName="userName">
        </div>
        </label>

        <label>
        <div class="form-group">
            Enter Password:
            <input class="form-control" type="password" placeholder="password" formControlName="password">
        </div>
        </label>

       <div class="form-footer">
            <button type="submit"> Login
            </button> <br>
            <button class="btn btn-link" routerLink="/register" type="reset">New User ?</button>
        </div>
    </form>

</div>