<div class="card">

    <h1 class="header">Dashboard</h1>
    <a [routerLink]="['/login']">Logout</a>

    <table>
        <thead>
            <tr>
                <th>email</th>
                <th>username</th>
                <th>action</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of List">
                <td>{{ user.userName }}</td>
                <td>{{ user.email}}</td>
                <button type="submit"> EDIT</button>
            </tr>

        </tbody>
    </table>



</div>