<div class="card">

    <h3 class="header">Dashboard</h3>
    <a [routerLink]="['/login']">Logout</a>

    <table>
        <thead>
            <tr>
                <th>User NAme</th>
                <th>Email</th>
                <th>Changes If any</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of List">
                <td>{{ user.userName }}</td>
                <td>{{ user.email}}</td>
                <button type="submit"> EDIT</button>
            </tr>

        </tbody>
    </table>



</div>