<div class="container">

    <h3 class="header">Registration Form</h3>

    <form [formGroup]="registerForm" class="form" (ngSubmit)="onRegister(registerForm.value)">
        <label>
        <div class="form-group">
            Enter Name:
            <input class="form-control" type="text" placeholder="userName" formControlName="userName">
            <div class="error" *ngIf="!registerForm.controls['userName'].valid && registerForm.controls['userName'].touched">* Enter a UserName.</div>
        </div>
        </label>

<label>
        <div class="form-group">
            Enter Email:
            <input class="form-control" type="text" placeholder="email" formControlName="email">
            <div class="error" *ngIf="!registerForm.controls['email'].valid && registerForm.controls['email'].touched">* Enter a email.</div>
        </div>
        </label>

        <label>
        <div class="form-group">
            Enter Password:
            <input class="form-control" type="text" placeholder="password" formControlName="password">
            <div class="error" *ngIf="!registerForm.controls['password'].valid && registerForm.controls['password'].touched">* Enter a password.</div>
        </div>
        </label>
        

        <div class="form-footer">
            <button class="btn btn-round" type="submit" [disabled]="!registerForm.valid">Register</button>
            <button class="btn btn-link" routerLink="/login" type="reset">Already a User!</button>
        </div>
    </form>

</div>